[package]
name = "stm32c0-spa"
version = "0.1.0"
edition = "2024"

[features]
default = ["interrupts"]
c092 = ["macros/c092"]

interrupts = []

[dependencies]
cortex-m-rt = { version = "0.7.3", features = ["device"] }
proto-hal = { git = "https://github.com/adinack/proto-hal" }
macros = { package = "stm32c0-spa-macros", path = "../macros" }

[dev-dependencies]
defmt-test = "0.3.2"
cortex-m = { version = "0.7.7", features = [
    "inline-asm",
    "critical-section-single-core",
] }
cortex-m-rt = "0.7.3"
critical-section = "1.1.2"
defmt = { version = "0.3.6" }
defmt-rtt = { version = "0.4.0" }
panic-probe = { version = "0.3.1", features = ["print-defmt"] }
fixed = "1.28.0"
cortex-m-spa = { git = "https://github.com/adinack/cortex-m-spa", features = [
    "m0",
] }

[build-dependencies]
model = { package = "stm32c0-spa-model", path = "../model" }
proto-hal-build = { git = "https://github.com/adinack/proto-hal" }

[lib]
test = false
bench = false

[profile.dev]
debug = true
opt-level = "z"
incremental = true

[profile.release]
debug = false
lto = true
opt-level = "z"
incremental = true
