[target.thumbv6m-none-eabi]
runner = 'probe-rs run --chip STM32C092RC'

rustflags = [
    "-C",
    "linker=flip-link",
    "-C",
    "link-arg=-Tlink.x",
    "-C",
    "link-arg=-Tdefmt.x",
    "-C",
    "link-arg=--nmagic",
]

[build]
target = "thumbv6m-none-eabi"
